@use 'src/styles/vars' as v;

.calculator {
	display: flex;
	width: 100.8rem;
	height: 60.6rem;
	justify-content: space-between;
	
	border: none;
	border-radius: 2.6rem;
	box-shadow: 0 20px 25px -5px rgb(180 193 201 / 0.1), 0 8px 10px -6px rgb(180 193 201 / 0.1);
	background-color: v.$color-white;
	
	&__left,
	&__right,
	&__empty {
		width: 50%;
		padding: 4rem;
	}
	
	&__left {
		color: v.$color-slate900;
	}
	
	&__right,
	&__empty {
		color: v.$color-white;
		border-radius: 0 2.6rem 2.6rem 7.6rem;
		background-color: v.$color-slate900;
		
		&-title {
			margin-bottom: 2.6rem;
		}
		
		&-subtitle {
			color: v.$color-slate500;
			font-size: 1.6rem;
			line-height: 1.25;
		}
		
		&-inner {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	
	&__empty {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		
		svg {
			margin-bottom: 3rem;
		}
		
		&-title {
			margin-bottom: 2rem;
		}
		
		&-subtitle {
			font-size: 1.6rem;
			color: v.$color-slate300;
			line-height: 1.3;
		}
	}
	
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		margin-bottom: 4rem;
	}
	
	&__reset {
		display: block;
		height: 100%;
		background: none;
		border: none;
		color: v.$color-slate500;
		cursor: pointer;
		line-height: 1;
		font-size: 1.4rem;
		text-decoration: underline;
	}
	
	&__form {
		
		&-submit {
			display: flex;
			align-items: center;
			gap: 1.6rem;
			padding: 1.8rem 4rem;
			background-color: v.$color-lime;
			border-radius: 3rem;
			font-size: 1.8rem;
			
			&-icon {
				color: v.$color-slate900;
			}
		}
	}
	
	&__inputs {
		display: grid;
		width: 100%;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(3, auto);
		row-gap: 3rem;
		column-gap: 2rem;
		
		margin-bottom: 4rem;
	}
	
	&__input {
		
		&-group {
			margin-top: 1.2rem;
			position: relative;
			cursor: pointer;
			
			&:focus-within {
				.calculator__input-span {
					border-color: v.$color-lime;
					background-color: v.$color-lime;
				}
			}
			
			&:hover {
				input {
					border-color: v.$color-slate700; // Обводка для input
				}
				
				.calculator__input-span {
					border-color: v.$color-slate700;
				}
			}
			
			&:focus-within:hover {
				.calculator__input-span {
					border-color: v.$color-lime; // Сохраняем лаймовый цвет при фокусе
				}
				
				input {
					border-color: v.$color-lime; // Тоже для input
				}
			}
		}
		
		label {
			color: v.$color-slate500;
			cursor: pointer;
		}
		
		input {
			width: 100%;
			font-size: 2rem;
			color: v.$color-slate900;
			line-height: 1.2;
			border: .2rem solid v.$color-slate500;
			border-radius: 0.4rem;
			padding: 1.2rem;
			
			outline: none;
			transition: border-color .1s ease-in-out;
			
			&::placeholder{
				border-color: v.$color-slate500;
			}
			
			&:hover {
				border-color: v.$color-slate700;
			}

			&:focus {
				outline: none;
				border-color: v.$color-lime;
			}
		}
		
		span {
			padding: 1.2rem;
			font-size: 2rem;
			line-height: 1.2;
			color: v.$color-slate500;
			background-color: v.$color-slate100;
			border: .2rem solid v.$color-slate500;
			border-radius: .4rem;
			outline: none;
			
			position: absolute;
			z-index: 10;
			top: 0;
			
			transition: border-color .1s ease-in-out,
			background-color .1s ease-in-out;
		}
		
		&.input-1 {
			grid-column: 1 / -1; /* Занимает обе колонки */
			
			input {
				padding-left: 6.1rem;
			}
			
			span {
				left: 0;
				border-right: none;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
		
		&.input-2 {
			grid-column: 1 / 2; /* Занимает обе колонки */
			
			input {
				padding-right: 6.1rem;
			}
			
			span {
				right: 0;
				border-left: none;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
		
		&.input-3 {
			grid-column: 2 / 3; /* Занимает обе колонки */
			
			input {
				padding-right: 6.1rem;
			}
			
			span {
				right: 0;
				border-left: none;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
		
		&.input-4 {
			grid-column: 1 / -1; /* Занимает обе колонки */
			
			.calculator__radio-group {
				display: flex;
				flex-direction: column;
				gap: 1.2rem; /* Отступы между радио-кнопками */
				margin-top: 1.2rem
			}
			
			.radio-label {
				display: flex;
				align-items: center;
				gap: 1.2rem; /* Отступ между кастомной кнопкой и текстом */
				padding: 1rem;
				border: .2rem solid v.$color-slate300;
				border-radius: 0.8rem;
				background-color: v.$color-white;
				font-size: 1.6rem;
				cursor: pointer;
				transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
				
				&:hover {
					border-color: v.$color-slate500;
					
					.radio-custom {
						border-color: v.$color-slate500;
					}
				}
				
				&.selected {
					border-color: v.$color-lime;
					background-color: rgba(v.$color-lime, .2);
				}
			}
			
			.radio-label input {
				display: none; /* Скрываем стандартный input */
			}
			
			.radio-custom {
				width: 1.6rem;
				height: 1.6rem;
				border: 2px solid v.$color-slate300;
				border-radius: 50%;
				display: inline-block;
				position: relative;
				transition: border-color 0.2s ease, background-color 0.2s ease;
				
				&:after {
					content: '';
					width: 1.6rem;
					height: 1.6rem;
					border-radius: 50%;
					background-color: v.$color-lime;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) scale(0);
					transition: transform 0.2s ease;
				}
			}
			
			.radio-label input:checked + .radio-custom {
				border-color: v.$color-lime;
				
				&:after {
					transform: translate(-50%, -50%) scale(1);
				}
			}
			
			.radio-label input:checked ~ .selected {
				border-color: v.$color-lime;
				background-color: v.$color-lime;
				font-weight: bold;
			}
		}
		
		
		
	}
	
	&__result {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
		max-height: 29rem;
		margin-top: 4rem;
		
		background-color: v.$color-lime;
		border-radius: .4rem;
		box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
		
		&-inner {
			display: block;
			width: 100%;
			height: 100%;
			max-height: 28.6rem;
			padding: 3rem;
			
			background-color: v.$color-slate1100;
			border-radius: .3rem;
			
			position: absolute;
			bottom: 0;
			left: 0;
		}
		
		&-title,
		&-subtitle {
			margin-bottom: 1.8rem;
			color: v.$color-slate500;
			font-weight: 500;
		}
		
		&-value {
			font-size: 4rem;
			color: v.$color-lime;
			margin-bottom: 3rem;
		}
		
		&-total {
			font-size: 2.8rem;
		}
		
		&-value,
		&-total {
			span {
				margin-right: .8rem;
			}
		}
		
		&-divider {
			border: none;
			border-top: 1px solid v.$color-slate700;
			margin-bottom: 3rem;
		}
	}
}

